@use "../shared/vidro"

.Settings .Widget
    @include vidro.cartao
    margin: 0.75em 0
    padding: 0.9em 1em

    h4
        margin: 0
        font-size: 1.05em
        font-weight: 600

    .title--buttons
        display: flow-root

        button
            float: right
            margin: -0.2em 0 0 0.4em

        h4
            cursor: pointer
            line-height: 1.8

        p
            margin: 0.25em 0 0
            font-size: 0.92em

    .settings
        margin: 1.25rem 0

    p:last-child
        margin-bottom: 0
